html,
body {
  height: 100%;
  min-width: 1366px;
  min-height: 625px;
}

* {
  padding: 0;
  margin: 0;
}
a{
  color:#fff;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
#navLeft {
  background-color: #2F419B;
  height: 100%;
  width: 200px;
  float: left;
}

#navRight {
  height: 100%;
  width: 100%;
  padding-left: 200px;
  min-width: 1166px;
  background-color: #ddd;
}

#slogan {
  padding-top: 10px;
  background-color: #006FC9;
}

.logoContainer {
  width: 85px;
  margin-left: 50px;
  /* margin-top: 10px; */
}

.logoContainer img {
  width: 100%;
}

.logoText {
  color: #fff;
  font-size: 20px;
  margin-top: 7px;
  text-align: center;

}

#dblistLeft {
  color: #fff;
  margin-top: 5px;
}

.dbLeft {
  padding-left: 20px;
  font-size: 17px;
}

.dbLeft img {
  height: 18px;
  line-height: 18px;
  margin-right: 5px;
}

#listDetail {
  margin-top: 5px;
  margin-bottom: 0;
}

.dbLeftTitle {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  padding-left: 40px;
  background-color: #0078D7;
}

.dbLeftTitle img {
  height: 16px;
  line-height: 20px;
  margin-right: 7px;
}

.list-sec {
  display: block;
}

.list-sec li {
  /* padding-left: 70px; */
  display: flex;
  /* -webkit-box-align: center; */
  align-items: center;
  cursor: pointer;
  /* -webkit-box-pack: center; */
  /* justify-content: center; */
  /* text-align: center; */
}
.list-sec li a{
  padding-left: 70px;
  width:100%;
}
.list-sec li:hover{
  background-color: #5881F7;
}

.list-sec li img {
  height: 14px;
  line-height: 20px;
  margin-right: 3px;

}
.listactive{
  background-color: #5881F7;
  /* color:#38469C; */
}

header {
  height: 70px;
  background-color: #E9EAF3;
  color: #34469E;
  font-size: 25px;
  font-weight: bolder;
  line-height: 70px;
  padding-left: 70px;
  float: left;
  width:100%;
  /* text-shadow: 1px 0px 1px #000; */
}

#DBContent{
  width:100%;
  height:100%;
  padding-top:70px;
  background-color: #fff;
}

#DBinfo{
  /* position:fixed; */
  /* right:0; */
  float:right;
  width:250px;
  height:100%;
  border-left: 2px solid #ddd;
  box-sizing: border-box;
  background-color: #fff;
}

#DBdetail{
  background-color: #fff;
  width:100%;
  /* width:500px; */
  height:100%;

  /* overflow: hidden; */

}
#tableContainer{
  width:835px;
  /* display: flex; */
  /* justify-content: center; */
  overflow: hidden;
}
.RainTable{
  /* width:80%; */
}

.loading_window {
	width: 250px;
	height: 90px;
	position: fixed;
	left: 40%;
	top: 40%;
	border: 1px solid #777777;
	background-color: #ffffff;
	border-radius: 5px;
	text-align: center;
	z-index: 2000;
}

.loading_pic {
	height: 60px;
	line-height: 75px;
}

.loading_text {
	height: 30px;
	line-height: 10px;

}

#DBinfoContent{
  border-bottom:1px solid #ddd;
  height:230px;
  width:100%;
  box-sizing: border-box;
}

.DBinfologo{
  height: 40px;
  /* line-height: 30px; */
  display: flex;
  align-items: center;
  padding-left:10px;
  font-size: 15px;
  color:#334199;
  font-weight: bolder;
  border-bottom:1px solid #ddd;
}
.DBinfologo img{
  height:25px;
  margin-right: 10px;
  /* line-height: 30px; */
}

.DBinfoListContent{
  width:230px;
  margin-left:9px;
  margin-top:10px;
}
.badge-primary{
  background-color: #EAECF5;
  color:#2F419B;
}

.badge-success{
  background-color: #EBFAF5;
  color:#3BD09C;
}

#DBinfoSearch{
  /* margin-top: 10px; */
}

#BtnSearch{
  position: relative;
  left:140px;
}